<header class="main-header">
    <div class="logo-div">
        <a class="logo" href="/">Car-hawa</a>
    </div>

    <div class="nav-div">
        <nav>
            <%- include('nav-items.ejs') %>
        </nav>
    </div>

    <nav class="hum-button">
        <span></span>
        <span></span>
        <span></span>
    </nav>

    <aside id="side-drawer">
        <nav>
            <%- include('nav-items.ejs') %>
        </nav>
    </aside>
</header>