<ul>
    <li><a class="nav-item" href="/">Shop</a></li>
    <li><a class="nav-item" href="/login">Login</a></li>
    <li><a class="nav-item" href="/signup">SignUp</a></li>
    <li><a class="nav-item" href="/about">About Us</a></li>
    <li><a class="nav-item" href="/add-products">Add Product</a></li>
    <li><a class="nav-item" href="/cart">Cart</a></li>
    <li><a class="nav-item" href="/admin/add-product">Products</a></li>
</ul>