<article class="product-card">
    <div class="product-image"><img
            src="https://img.freepik.com/free-photo/view-fresh-coffee-cup_23-2150698843.jpg?size=626&ext=jpg&ga=GA1.1.3772323.1716745293&semt=sph"
            alt="Cappucino"></div>
    <div class="product-detail">
        <h4>Cappuccino</h4>
        <div class="price">
            <p id="selling">Ksh.1200</p>
            <p id="initial">Was Ksh.1550</p>
            <p id="discount">-15%</p>
        </div>
    </div>
    <div class="action-buttons">
        <a class="btn" href="">View Product</a>
        <a class="btn" href="">Delete</a>
        <a class="btn btn-alt" href="">Edit</a>
    </div>
</article>