* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: white;
}
a {
  text-decoration: none;
}

main {
  width: 100%;
  margin: auto;
}

.user-message {
  border: 1px solid rgb(91, 245, 91);
  background-color: rgb(201, 248, 201);
  color: green;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
}
.user-message--error {
  border-color: rgb(242, 53, 53);
  background-color: rgb(240, 172, 172);
  color: red;
}
.btn {
  width: auto;
  height: auto;
  padding: 0.5rem;
  background-color: #00695c;
  font: inherit;
  border: 1px solid #00695c;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn-alt {
  border: 1px solid #00695c;
  background-color: transparent;
  color: #00695c;
}
