* {
  list-style: none;
}
.main-header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #00695c;
  position: sticky;
  top: 0;
  z-index: 1000; 
}
.main-header a {
  text-decoration: none;
}

.logo-div {
  margin: auto 0;
}

.logo {
  font-family: "Neue", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-div {
  width: 60%;
}
.nav-div nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: white;
  font-size: inherit;
  display: inline-block;
  padding: 0.125rem;
}
.nav-item:hover,
.nav-item:active {
  color: #ffeb3b;
}

.hum-button {
  margin: auto 0;
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  border: 0.5px solid white;
  border-radius: 2.5px;
}

.hum-button span {
  width: 80%;
  height: 4px;
  background-color: white;
  margin: auto;
  display: block;
  font-weight: lighter;
}

#side-drawer {
  display: none;
  background-color: #00695c;
  position: absolute;
  width: 50%;
  height: auto;
  top: 5rem;
  right: 1rem;
}

#side-drawer li {
  margin-top: 0.5rem;
}

#side-drawer a {
  color: white;
}

@media (max-width: 48rem) {
  .hum-button {
    display: flex;
  }
  .nav-div {
    display: none;
  }
}
