* {
  list-style: none;
}
.main-header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.main-header a {
  text-decoration: none;
}

.logo-div {
  margin: auto 0;
}

.logo {
  font-family: "Neue", sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-div {
  width: 60%;
}
.nav-div nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: #4a4a4a;
  font-size: inherit;
  transition: transform 0.5s ease;
  display: inline-block;
  border: 1px solid #4a4a4a;
  padding: 0.125rem;
}
.nav-item:hover {
  transform: scale(1.2);
}

.hum-button {
  margin: auto 0;
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  border: 0.5px solid #4a4a4a;
  border-radius: 2.5px;
}

.hum-button span {
  width: 80%;
  height: 4px;
  background-color: #4a4a4a;
  margin: auto;
  display: block;
  font-weight: lighter;
}

#side-drawer {
  display: none;
  background-color: #4a4a4a;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 5rem;
  right: 1rem;
}

#side-drawer li {
  margin-top: 0.5rem;
}

#side-drawer a {
  color: white;
}

@media (max-width: 48rem) {
  .hum-button {
    display: flex;
  }
  .nav-div {
    display: none;
  }
}
