.main-holder {
  width: 100%;
  max-width: 80rem;
  margin: auto;
}
.below-header {
  position: relative;
  display: flex;
  height: auto;
  margin: 0.5rem;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.text-div {
  width: 50%;
  margin-top: 0;
  padding: 1rem;
}

.text-div h1 {
  font-size: 2rem;
  color: #00695c;
}

.text-div p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: #4a4a4a;
  text-align: left;
}

.text-div a {
  margin: auto;
  margin-top: 1rem;
  display: block;
  border: 1px solid #00695c;
  background-color: transparent;
  color: #00695c;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.text-div a:hover {
  background-color: transparent;
  border: 1px solid #00695c;
  color: #00695c;
}

.image-div {
  width: 50%;
  padding: 1rem;
  color: #4a4a4a;
  text-align: center;
}

.image-div img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

#product-header {
  text-align: center;
  color: #4a4a4a;
}

#products {
  padding: 1rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

@media (max-width: 48rem) {
  .below-header {
    flex-direction: column;
    margin: 0.25rem;
    padding: 0;
  }

  .image-div {
    width: 100%;
  }
  .text-div a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .text-div {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
  }

  .text-div h1 {
    font-size: 1rem;
  }
  .text-div p {
    font-size: 1rem;
  }
  #products {
    gap: 0.25rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}
