.product-card {
  width: 18rem;
  box-shadow: 2px 4px 8px #4a4a4a;
  border-radius: 10px;
  overflow: hidden;
}

.product-image {
  width: 100%;
}

.product-image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.product-detail {
  padding: 0.25rem;
  text-align: center;
  color: #4a4a4a;
}

#product-detail h4 {
  margin: 0;
  padding: 0;
}
.price {
  display: flex;
  justify-content: space-around;
}

.price p {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
}

#selling {
  font-weight: bold;
  color: #4a4a4a;
}
#initial {
  text-decoration: line-through;
  font-style: italic;
  color: #4a4a4a;
}

#discount {
  background-color: red;
  text-align: center;
  font-weight: bold;
  color: white;
  font-weight: lighter;
  padding: 0.25rem;
  border-radius: 100%;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.btn {
  background-color: #00695c;
  color: white;
  padding: 0.25rem;
  border-radius: 5px;
}

.btn-alt {
  background-color: transparent;
  color: #00695c;
  border: 1px solid #00695c;
}

@media (max-width: 48rem) {
  .product-card {
    width: 70%;
    border-radius: 5px;
  }
}
