.product-holder {
  display: flex;
  overflow: hidden;
  padding: 1rem;
  width: 80%;
  margin: 1rem auto;
  box-shadow: 0.5px 0.5px 1px #4a4a4a;
}
.product-image {
  width: 100%;
  flex: 1;
  text-align: center;
}

.product-image img {
  width: 50%;
  margin: auto;
  object-fit: cover;
}

.action-div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-desc {
  padding: 0.25rem;
  width: 100%;
  margin: auto;
}
.name {
  font-weight: bold;
}

.desc {
  margin: 0;
  width: 100%;
  white-space: pre-wrap;
}

.price {
  font-weight: bold;
}

#discount {
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 0.25rem;
}
.action {
  display: block;
  font: inherit;
  width: 100%;
  margin: auto;
  height: 2.5rem;
  text-align: center;
  background-color: #00695c;
  border: 1px solid #00695c;
  color: white;
  padding: 0.75rem;
}

.description {
  width: 80%;
  margin: auto;
  padding: 0.75rem;
  box-shadow: 0.5px 0.5px 1px #4a4a4a;
}

.description h4 {
  padding: 0.25rem;
  margin: 0;
  text-align: center;
}

#review-form {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
}

#review {
  font: inherit;
  width: 100%;
  height: 2.5rem;
}

#review-form button {
  display: block;
  margin-top: 1rem;
  border-radius: 0;
}

.review {
  width: 80%;
  padding: 1.5rem;
  margin: auto;
}

.review h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (max-width: 48rem) {
  .product-holder {
    flex-direction: column;
    width: 100%;
    box-shadow: none;
  }
  .description {
    width: 100%;
    padding: 0.5rem;
    box-shadow: none;
  }
  .review {
    padding: 0.5rem;
    width: 100%;
  }
}
