.product-holder {
  border: 1px solid black;
  overflow: hidden;
  width: 50%;
  margin: 1rem auto;
  border-radius: 10px;
}
.product-image {
  width: 100%;
}

.product-image img {
  width: 40%;
  object-fit: cover;
}
.product-desc {
  padding: 0.5rem;
}

.product-action {
  padding: 1rem;
  text-align: center;
}
.product-action a {
  width: 6rem;
  height: 2.5rem;
  background-color: transparent;
  color: #00695c;
  padding: 0.75rem;
  border: 1px solid #00695c;
  border-radius: 5px;
}
