<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs', {title:"CAR-HAWA | Homepage"}) %>
        <link rel="stylesheet" href="/css/Homepage.css">
        <link rel="stylesheet" href="/css/product-holder.css">
</head>

<body>
    <%- include('../includes/header') %>
        <div class="main-holder">
            <main>

                <section class="below-header">
                    <div class="text-div">
                        <h1>Champions of Online Shopping</h1>
                        <p>Welcome to Car-Hawa, your go-to destination for affordable online Shopping and quick
                            deliveries!
                            We
                            pride ourselves on offering top-quality online shopping services at unbeatable prices.
                            <br>Experience the Car-Hawa difference today!
                        </p>
                        <% if (!isAuthenticated) { %>
                            <a href="/signup">SignUp Today &rarr;</a>
                            <% } %>
                    </div>
                    <div class="image-div">
                        <img src="/images/shop.jpeg" alt="">
                    </div>
                </section>

                <h2 id="product-header">Featured Products.</h2>

                <section id="products">

                    <% for( let product of products) { %>
                        <%- include('../includes/product-holder.ejs',{product:product}) %>
                            <% } %>

                </section>
            </main>
        </div>
</body>

</html>